<div class="login-container">
  <form class="login">
    <div class="login-title">Login</div>
    <div class="login-form">
      <div class="login-email">
        <app-input (change)="onChangeEmail($event)" inputLabel="Email" [required]="true"
          [showRequired]="showEmailRequired" requiredText="Email is required" [value]="data.email">
        </app-input>
      </div>
      <div class="login-password">
        <app-input (change)="onChangePassword($event)" inputLabel="Password" [required]="true"
          [showRequired]="showPasswordRequired" requiredText="Password is required">
        </app-input>
      </div>
      <app-button buttonText="Login" type="submit"></app-button>
    </div>
    <div class="login-message">If you don't have an account, you can <a href="">Register</a></div>
  </form>
</div>
