<form [formGroup]="courseForm" (ngSubmit)="onSubmit()" class="form-container">
  <section class="title-description-create">
    <div class="title-create">
      <span>Title</span>
      <div class="create">
        <div class="input-label">
          <input type="text" name="title" formControlName="title">
        </div>
        <app-button buttonText="Create course" type="submit"></app-button>
      </div>
    </div>
    <div class="description">
      <span>Description</span>
      <textarea formControlName="description" name="description"></textarea>
    </div>
  </section>
  <div class="authors">
    <div class="authors-left">
      <div class="add-authors">
        <div class="add-authors-title">
          Add authors
        </div>
        <div class="add-author-create">
          <div class="add-author-name">
            <div>Author</div>
            <div class="input-label">
              <input type="text" name="author">
            </div>
          </div>
          <app-button buttonText="Create author"></app-button>
        </div>
      </div>
      <div class="duration">
        <div class="input-label">
          <div>Duration</div>
          <input type="number" name="duration" formControlName="duration">
        </div>
        <span class="duration-display">
          Duration: {{course.duration}} hours
        </span>
      </div>

    </div>
    <div class="authors-right">
      <div class="authors-list">
        <span>Authors list</span>
        <div *ngFor="let author of authorsList">
          <div class="author">
            <div class="author-left">
              {{author.name}}
            </div>
            <app-button buttonText="Delete author"></app-button>
          </div>
        </div>
      </div>
    </div>
  </div>
