.header-container {
  display: flex;
  flex-direction: row;
  margin: 10px;
  border: black 1px solid;
}

img {
  padding: 5px;
}

.left {
  width: 80%;
}

.right {
  width: 20% ;
  display: flex;
  flex-flow: row-reverse;
  align-items: center;
}
